<app-error-alert [error]="error" />

<form [formGroup]="form" (ngSubmit)="createPost()" #from>
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <label for="image">Imagem</label>
    <input
      type="text"
      class="form-control"
      id="image"
      formControlName="image"
    />
  </div>

  <div class="form-group">
    <label for="body">Corpo</label>
    <textarea
      class="form-control"
      id="body"
      rows="8"
      formControlName="body"
    ></textarea>
  </div>

  <button class="button-primary" type="submit" [disabled]="!form.valid">
    Criar
  </button>
</form>
