<div class="container">
    <div class="results">
        <div class="content">
            <router-outlet />
        </div>

        <aside class="sidebar">
            <div class="categories">
                <h3>Categorias</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>



            <div class="search-box">
                <label for="search">Procurando alguma notícia?</label>
                <div class="search-container">
                    <input type="text" id="search" placeholder="Pesquisar por..." />
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </aside>
    </div>